/* SECTION HERO */

.section-hero {
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 265% 70%;
  background-size: 85% auto;
  /* background-position: center right -50%; */

  /* height: 100vh; */
  /* padding: 4.8rem 0; */
}

.hero-text-box {
  max-width: 80%;

  align-self: center;
}

.hero-discription {
  letter-spacing: 0.15px;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  max-width: 100%;

  transform: scale(1.5) translate(20%, 2.5%);
}

/* SECTION FEATURE */

.section-features {
  background-color: hsl(220, 16%, 96%);
  padding: 9.6rem 0;
}

.features-discription {
  max-width: 50%;
  line-height: 1.4;
  margin-bottom: 6.4rem;
}

.feature-title {
  color: #2d314d;
  font-size: 2rem;
  font-weight: 400;
  margin: 3.2rem 0 2.4rem 0;
}

.feature-discription {
  line-height: 1.6;
}
