/* SECTION HERO */

.section-hero {
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 265% 70%;
  background-size: 85% auto;
  /* background-position: center right -50%; */

  /* height: 100vh; */
  /* padding: 4.8rem 0; */
}

.hero-text-box {
  max-width: 80%;

  align-self: center;
}

.hero-discription {
  letter-spacing: 0.15px;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  max-width: 100%;

  transform: scale(1.5) translate(20%, 2.5%);
}

/* SECTION FEATURE */

.section-features {
  background-color: hsl(220, 16%, 96%);
  padding: 9.6rem 0;
}

.features-discription {
  max-width: 50%;
  line-height: 1.4;
  margin-bottom: 6.4rem;
}

.feature-title {
  color: #2d314d;
  font-size: 2rem;
  font-weight: 400;
  margin: 3.2rem 0 2.4rem 0;
}

.feature-discription {
  line-height: 1.6;
}

/* SECTION ARTICLES */

.section-articles {
  padding: 9.6rem 0;
}

.articles-item {
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.article-author {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.article-title {
  color: #2d314d;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 0.8rem;

  transition: all 0.2s ease-in;
}

.article-discription {
  font-size: 1.6rem;
  line-height: 1.4;
}

.article-img-box {
  width: 100%;
  height: 23rem;
  overflow: hidden;
}

.article-img {
  width: 100%;
  height: 23rem;

  transition: all 0.3s ease-in;
}

.article-title:hover {
  cursor: pointer;
}

.articles-item:hover .article-title {
  color: #31d35c;
}

.articles-item:hover .article-img {
  transform: scale(1.05);
}

/* SECTION FOOTER */

.section-footer {
  padding: 3.2rem 0;
  background-color: #2d314d;
}

.footer {
  display: flex;
  gap: 9.6rem;
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  background-color: #fff;
}

.social-links {
  display: flex;
  gap: 1.4rem;
}

.footer-links {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  /* align-self: center; */
  padding: 0.8rem 3.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-links li {
  cursor: pointer;
}

.footer-cta {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.copyright {
  font-size: 1.4rem;
}
